.label {
    margin-left: 1px;
}

.label a {
    color: #FFFFFF;
    text-decoration: none;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    /*font-weight: normal;*/
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}


.label-default {
    background-color: #777;
}

.label-danger {
    background-color: #d9534f;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-info {
    background-color: #468847;
}
